@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@500&family=Rubik:wght@500&display=swap');
*{
  margin: 0;
}
.grid{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1fr 1.5fr 0.4fr;
  grid-template-areas:
    "nav"
    "header"
    "content1"
    "footer";
  text-align: center;
  margin: 0%;
  color: white;
}
#navbar{
  background-color: dodgerblue;
  grid-area: nav;
  font-size: 17px;
}
#navbar a{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  width: 25%;
}
#navbar a:hover{
  background: cornflowerblue;
}
header{
  padding: 80px;
  font-size: 22px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  background-color: darkslateblue;
  color: gainsboro;
}
#welocme-section{
  grid-area: header;
  text-align: center;
  font-size: 22px;
  font-family: "Rubik", sans-serif;
}
#projects{
  grid-area: content1;
  background-color: mediumpurple;
  font-family: "Rubik", sans-serif;
  padding-top: 30px;
}
.project-title, #projects a{
  text-align: center;
  color: white;
  float: center;
  text-decoration: none;
  font-size: 20px;
}
#projects a:hover{
  color: firebrick;
  font-size: larger;
}
p{
  font-family: "Karla", sans-serif;
}
#socials{
  grid-area: footer;
  padding: 20px;
  text-align: center;
  background-color: indigo;
  font-family:"Karla", sans-serif;
  color: lavender;
}
.fa {
  padding: 20px;
  font-size: 0px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border: 1px  solid silver;
  border-radius: 50%;
}
.fa:hover{
  opacity: 0.7;
}
.fa-linkedin{
  background: #0077b5;
  color: white;
}
.fa-codepen{
  background: white;
  color: #212121;
}