@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@500&family=Rubik:wght@500&display=swap');
*{
  margin: 0;
}
.grid{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1fr 1.5fr 0.4fr;
  grid-template-areas:
    "nav"
    "header"
    "content1"
    "footer";
  text-align: center;
  margin: 0%;
  color: white;
}
#navbar{
  background-color: dodgerblue;
  grid-area: nav;
  font-size: 17px;
}
#navbar a{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  width: 25%;
}
#navbar a:hover{
  background: cornflowerblue;
}